/* creation date 7-15/12/2020 by Grainne Walsh x20153678 & Arthur Ryan x20170386 for Project end of term NCI-HDAIML */
/* CSS file for end of term project titled Edge Fashion clothing */

/* start of Arthur Ryan CSS code (Grainne Walsh CSS code also listed below starting at line 566) */ 

.html{
background-color: #f2e6d9;	/* back ground colour throughout wesbite*/ 
}

*{
font-family: Verdana, sans-serif; /*font selected*/
}

/* Start of CSS code to make website responsive */ 

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {

/* for index page image RWD */ 
img {
  width: 100%;
  height: auto;
}

#storenamecart{display: block}
#navproducts{display: block} 
#cartnavproducts{display: block} 
.cartformtable{display: block}
#summarylabel{display: block}
#summary{display: block}
#orderlabel{display: block}
#tot_amount{display: block}
#submit{display: block}


}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
#summarylabel{float:left;}
#summary{float:left;}
#orderlabel{float:left;}
#tot_amount{float:left;}
#submit{float:left;}
}

/* End of CSS code to make website responsive */ 

#storename{
	position: fixed;
	left: 10px;
	top: 0px;
	float:left;
	font-weight:bold;
	font-size: 26pt;
}

#storenameproducts{
	position: fixed;
	top: 10px;
	left: 0px;
	width: 300px;
	clear: both;
	font-weight:bold;
	font-size: 26pt;
}

#storenamecart{
	position: fixed;
	top: 10px;
	left: 0px;
	width: 350px;
	clear: both;
	font-weight:bold;
	font-size: 26pt;
}

#brandproposition{
	float:left;
	font-weight:bold;
	position: absolute;
	left: 280px;
	top: 80px;
	width: 750px;
	padding-left: 50px;
	margin: 20px
}

.cartformtable{
	position: fixed;
	top: 16.75%;
	left: 0%;	
}


#orderlabel{
	position: fixed;
	top: 75.8%;
	left: 0%;
}
	
#tot_amount{
	position: fixed;
	top: 75.5%;
	left: 11.25%;
}
	
#submit{
	background-color: yellow;
	position: fixed;
	top: 80%;
	padding-top: 0%;
	padding-left: 0%;
	left: 20.25px;
	width: 22%;	
	height: 7.5%;
	border-radius: 10px;
	background-color: yellow;
	font-size: 15pt;
	font-weight:bold;
	font-style: italic;
}	

#creditcard{
	width: 130px;	
}

#cartnavproducts a:hover {
  background-color: yellow;
  border-right: 1px solid #bbb;
  text-decoration: none;
}


/* start of Nav (horizontal) */ 

#nav{
	position: fixed;
	display: inline;
	top: 3% ;
	left: 37%;
	position: relative;
	top: -70px ;
	}

#nav, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

#nav, ul, li {
  float: left;
}

#nav, li, a {
  color: grey;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

#nav ul, li {
  background-color: black;
  border-right: 1px solid #bbb;
}

/* make hover a matching yellow ie to the index page photo */ 
#nav a:hover {
  background-color: yellow;
  border-right: 1px solid #bbb;
}

/* end of Nav (horizontal) */ 


/* start of nav in products  page (horizontal)*/ 
#navproducts {
	position: fixed; 
	/* position: sticky; */
	top: 20px;
	left: 600px;
	width: 700px;
	clear: both;
	color: grey;
 }
 
#navaboutus{
	position: sticky;
	padding-top: 20px;
	left: 600px;
	width: 700px;
	clear: both;
	color: grey;
 }

 
#navaboutus a:hover {
  background-color: yellow;
  border-right: 1px solid #bbb;
}
 
 
#navproducts li a {
  color: grey;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
 
#navproducts a:hover {
  background-color: yellow;
  border-right: 1px solid #bbb;
}
 
 
/* end of nav products (horizontal)*/ 


/* start of nav cart and cart CSS (horizontal)*/ 

#cartnavproducts{
	position: fixed;
	left: 37.5%;
	top: 3%;
} 

/* form displayed on pressing submit button */
#submission{
	background-color: #f2e6d9 ;
}

/* end of nav in cart (horizontal)*/ 


/*  header formating */ 
.header{
background-color: #f2e6d9;
} 
/* */

/* start of Search (advanced) vertical */ 

#searchadvanced, ol {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  position: fixed;
  top: 220px;
  left: -6.5px ;
  width: 200px;
  background-color: #f2e6d9;
}

#searchadvanced, ol, li, a {
  display: block;
  color: grey;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#searchadvanced a:hover {
  background-color: yellow;
  color: grey;
}

/* End of Search CSS */ 

/* start of userInput */ 

#userinput{
	position: fixed;
	left: 10px;
	top: 190px;
	width: 368px;
	font-size: 20px;
/* box-sizing: */	

}

/* start of userInput */ 


#homeimage{
	position: fixed;
	left: 250px;
	top: 207px;
	padding-left: 50px;
	margin: 20px
}


/* Start of CSS for Carosel */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.testslidefade {display: none;} 

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  max-height: 200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: yellow;
}

/* Caption text */
.text {
  color: yellow;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text slides for #s 1 to 14 */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* the pointers for slides movement left and right */
.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: yellow;
}


/* for smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* End of CSS for Carosel */


#productheader{
	background-color: black;
	color: white;
	font-size:	18pt;
}

/* Start of Calendar  CSS*/

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}



/* Start of Accordion CSS */ 

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* End of Accordion CSS */ 

#summarylabel{
	position: fixed;
	left: 37.5%;
	top: 16%;
	width: 50%;
}

#summary{
	position: fixed;
	left: 37.5%;
	top: 19%;
	width: 50%;
	height: 35%;
	word-wrap: break-word;
}


/* start of footer */ 
#footer{
	position: fixed;
	left: 0px;
	top: 696px;
	width: 1600px;
	clear: both;
	margin: 0;
	padding: .5em;
	background-color:black; 
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	color:white;
	text-align:center;
	height: 50px;
	padding-top: 18px;
	border-top: 2px solid yellow;
	border-right: 2px solid yellow;
	border-left: 2px solid yellow;
	border-bottom: 2px solid yellow;
}

.footer
{
	border-top: 2px solid yellow;
	border-right: 2px solid yellow;
	border-left: 2px solid yellow;
	border-bottom: 2px solid yellow;
}

#productsfooter,#cartfooter {
	position: fixed;
	top: 687px;
	left: 0px;
	width: 1600px;
	margin: 0;
	padding: .5em;
	background-color: black;
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	color: white;
	text-align: center;
	height: 60px;
	padding-top: 18px;
	border-top: 2px solid yellow;
	border-right: 2px solid yellow;
	border-left: 2px solid yellow;
	border-bottom: 2px solid yellow;
}


/* end of footer */ 


/* End of Arthur Ryan CSS code */ 


/* Graine Walsh coded the CSS below */ 
.html{
	background-color: #f2e6d9;
}
.HeadingContact {
	color: #ffffff;
	background-image: url("shop.jpg");
	/* Full height */
	height: 100%;
	/* This code make the image span accross the whole of the website, it allows it to repeat again underneith*/
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 90px;
	font-family: Verdana, sans-serif; /*font selected*/
	font-size: 300%; /*the size of the font*/
	font-weight: bold; /*makes the font appear in bold*/
}
.accordion {
	font-family: Verdana, sans-serif; /*font selected*/
	background-image: url("wood.jpg");
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #999966;
}

.panel {
  font-family: Verdana, sans-serif; /*font selected*/
  padding: 0 18px;
  display: none;
  font-size: 14px;
  background-color: #f2e6d9;
  overflow: hidden;
}

.footer{
	text-align: center;
	padding: 15px;
	color: #ffffff;
	font-family: Verdana, sans-serif; /*font selected*/
	font-size: 100%; /*the size of the font*/
	font-weight: bold; /*makes the font appear in bold*/
	background-color: #000000;
}

/* End of Grainne Walsh CSS code */ 

